<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV23dHAIj4D2Oyxp8Nx1pTirnPSodqKDM</string>
	<key>GCM_SENDER_ID</key>
	<string>858756775400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loloApp</string>
	<key>PROJECT_ID</key>
	<string>lolo-app-38ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>lolo-app-38ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858756775400:ios:5c6fd937e15012c8bef85d</string>
</dict>
</plist>